<!DOCTYPE html>
<html>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Tweet @MEET</h1>
        <h2>My feed</h2>
      </div>

      <form action="BROKEN-LINK-FIX-ME" method="post">
      <textarea placeholder="What are you thinking about?" name="text"></textarea><br>
      <input type="text" name="picture_url" placeholder="Your picture URL"><br>
      <input type="checkbox" name="show_location"  value="True">Show your location<br>
      <input type="text" name="location" placeholder="Your location"><br>
      <input type="submit" name="submit">
      </form>

      <a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Cancel</a>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-footer-custom">Y2 Flask Intro</p>
      </div>
    </footer>

  </body>
</html>
